{% extends 'core/base.html' %}

{% block title %} Product-Page {% endblock %}


{% block body %} 
  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <h4 class="my-4 h4">  <a href="{% url 'core:home' %}"
        ><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>Back</a
      ></h4>


      <!--Grid row-->
      <div class="row wow fadeIn">
	{% if object.get_category_display != 'Accessory' or 'Computer'%}
        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{ item.image.url }}" class="zoom img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">
		
            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ object.get_category_display }}</span>
              </a>

            </div>
            <h4 class="my-4 h4">{{ object.title }}</h4>
            <p class="lead">
 
              
              {% if object.discount_price %}
              <span class="mr-1">
                <del>Ksh{{ object.price }}</del>
              </span>
              <span>Ksh{{ object.discount_price }}</span>
              {% else %}
              <span>Ksh{{ object.price }}</span>
              {% endif %}
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{object.description}}</p>

            <!-- <form class="d-flex justify-content-left"> -->
              <!-- Default input -->
              <!-- <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">
                Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form> -->
            <a href='{{object.get_add_to_cart}}' class="btn btn-primary btn-md my-0 p" >
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <a href='{{object.get_remove_from_cart}}' class="btn btn-danger btn-md my-0 p" >
              Remove from cart
            </a>


            <h4 class="my-4 h4">Additional information</h4>

            <table class="table">
 
            <tbody>
            <tr>
                <td><strong><p>RAM:  {{ object.RAM}}</strong> </p></td>
                <td><strong><p>Internal Storage:  {{ object.Internal_storage}}</strong> </p></td>
            </tr>
            <tr>
              <td><strong><p>Battery Capacity:  {{ object.battery_capacity}}</strong> </p></td>
              <td><strong><p>Primary Camera:  {{ object.primary_camera}}</strong> </p></td>
            </tr>
            <tr>
              <td><strong><p>Front Camera:  {{ object.front_camera}}</strong> </p></td>
            <td><strong><p>Network Type:  {{ object.network_type}}</strong> </p></td>
          </tr>
          <tr>
            <td><strong><p>Colors:  {{ object.colors}}</strong> </p></td>
            <td><strong><p>Operaring System:  {{ object.operating_system}}</strong> </p></td>
          </tr>
          <tr>
            <td><strong><p>Screen Size:  {{ object.screen_size}}</strong> </p></td>
            <td><strong><p>Sim Card Slots:  {{ object.sim_card_slots}}</strong> </p></td>
          </tr>
            </tbody>
            </table>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
     

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="{{ item.image.url }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="{{ item.image.url }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="{{ item.image.url }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
 
  <!--Main layout-->
   {% else %}
       <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{ item.image.url }}" class="zoom img-fluid" alt="">

        </div>
        				<!-- Selected Image -->
	

        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">
            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ object.get_category_display }}</span>
              </a>

            </div>
            <h4 class="my-4 h4">{{ object.title }}</h4>
            <p class="lead">
 
              
              {% if object.discount_price %}
              <span class="mr-1">
                <del>Ksh{{ object.price }}</del>
              </span>
              <span>Ksh{{ object.discount_price }}</span>
              {% else %}
              <span>Ksh{{ object.price }}</span>
              {% endif %}
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{object.description}}</p>

            <a href='{{object.get_add_to_cart}}' class="btn btn-primary btn-md my-0 p" >
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <a href='{{object.get_remove_from_cart}}' class="btn btn-danger btn-md my-0 p" >
              Remove from cart
            </a>


            <h4 class="my-4 h4">Additional information</h4>

            <table class="table">
 
            <tbody>

          <tr>
            <td><strong><p>Colors:  {{ object.colors}}</strong> </p></td>
          </tr>
            </tbody>
            </table>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
     

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="{{ item.image.url }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="{{ item.image.url }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="{{ item.image.url }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
 
  <!--Main layout-->   
        
    {% endif %}


 {% endblock %}

